-
	 var title = 'Акции и предложения'
-
	 var desc = [
				'Skillbox — это онлайн-университет. У нас прикладные курсы и программы от главных экспертов рынка, актуальные подходы к обучению, работа над реальными проектами, стажировки и трудоустройство в крупнейшие компании страны.',
				'Тестовый параграф'
			]
-
	 var list = [
				{
					'name': 'Научитесь эффективно продвигать любые проекты в интернете',
					'text': 'Научитесь эффективно продвигать любые проекты в интернете и освоите с нуля интересную и высокооплачиваемую профессию.'
				},
				{
					'name': 'Название акции',
					'text': 'Научитесь эффективно'
				},
				{
					'name': 'Научитесь эффективно продвигать любые проекты в интернете',
					'text': ''
				},
				{
					'name': 'Научитесь эффективно продвигать любые проекты в интернете',
					'text': 'Научитесь эффективно продвигать любые проекты в интернете и освоите с нуля интересную и высокооплачиваемую профессию.'
				},
				{
					'name': 'Название акции',
					'text': 'Научитесь эффективно'
				},
				{
					'name': 'Научитесь эффективно продвигать любые проекты в интернете',
					'text': ''
				},
				{
					'name': 'Научитесь эффективно продвигать любые проекты в интернете',
					'text': 'Научитесь эффективно продвигать любые проекты в интернете и освоите с нуля интересную и высокооплачиваемую профессию.'
				}
			]

- var className = 'section promotion'
if extraClass
	- className = 'section promotion promotion--' + extraClass



section(class=className)#promotion
	.container.promotion__container
		h2.promotion__heading.heading !{title}

		if desc
			.promotion__desc.text
				each paragraph in desc
					p= paragraph

		.promotion__list
			each item in list
				.promotion__item
					img(src="./images/promotion-1.jpg", alt="").promotion__img
					.promotion__info
						h3.promotion__title !{item['name']}
						if item['text']
							.promotion__text !{item['text']}
